<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir a sua opinião</h3>
        <p>
            Dúvidas ou sugestões, fale conosco!
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="leite.anajulia25@gmail.comhyhyyyyh" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(61) 99677-3513</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>SHCN CL QD 209 Bloco C, Loja 12 - Asa Norte, Brasília - 70853-530 - Brasília</h5>
        </p>
    </div>
</div>
